{% extends 'base.html' %}
{% load meus_filtros %}

{% block title %}
    Cadastro de Funcionários
{% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Cadastro de Funcionários</h3>
        </div>

        <div class="box-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form_funcionario.nome.errors }}
                    <label>Nome:</label>
                    {{ form_funcionario.nome | addclass:'form-control'}}
                </div>
                <div class="form-group">
                    {{ form_funcionario.data_nascimento.errors}}
                    <label>Data de Nascimento:</label>
                    {{ form_funcionario.data_nascimento | addclass:'form-control'}}
                </div>
                <div class="form-group">
                    {{ form_funcionario.cargo.errors}}
                    <label>Cargo:</label>
                    {{ form_funcionario.cargo | addclass:'form-control'}}
                </div>

                <hr>

                <div class="form-group">
                    {{ form_funcionario.username.errors}}
                    <label>Usuario:</label>
                    {{ form_funcionario.username | addclass:'form-control'}}
                </div>

                <div class="form-group">
                    {{ form_funcionario.password1.errors}}
                    <label>Senha:</label>
                    {{ form_funcionario.password1 | addclass:'form-control'}}
                </div>

                <div class="form-group">
                    {{ form_funcionario.password2.errors}}
                    <label>Confirmação de Senha:</label>
                    {{ form_funcionario.password2 | addclass:'form-control'}}
                </div>
        
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="Cadastrar">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}